body{
display: flex;
flex-direction: column;
align-items: center;
}

.buttonDiv{
    background-color: aliceblue;
    height: 15rem;
    width: 10rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2em;
    border-radius: 5px
}

header{
    margin-top: 2em;
    background-color: rgb(200,220,225);
    padding: 1rem;
    border-radius: 5px;
}

.scoreDiv{
    text-align: center;
}